.schema-form-picker-popup-renderer {
}

.schema-form-picker-renderer {
}

.schema-form-picker-empty {
  padding: 40px 0;
  text-align: center;
  color: var(--van-text-color-3, #c8c9cc);
  font-size: 14px;
}
