.schemx-picker-popup-renderer {
}

.schemx-picker-renderer {
  .van-field {
    padding-inline: 0;

    &::after {
      display: none;
    }
  }
}

.schemx-picker-empty {
  padding: 40px 0;
  text-align: center;
  color: var(--van-text-color-3, #c8c9cc);
  font-size: 14px;
}
