.schemx-calendar-popup-renderer {
  --van-calendar-popup-height: min(55vh, calc(75dvh - 96px));
  border-radius: var(--van-popup-round-radius) var(--van-popup-round-radius) 0 0;

  .van-calendar__confirm {
    --van-calendar-confirm-button-height: 40px;

    border-radius: var(--schemx-border-radius-md);
  }
}

.schemx-calendar-renderer {
}
