/**
 * SchemaForm 主样式入口
 */

@import "./variables.scss";

/**
 * 组件样式
 */
@import "../components/FormItem/index.scss";
@import "../components/FormGroup/index.scss";

/**
 * SchemaForm 容器
 */
.schema-form {
  --schema-form-input-align: end;

  box-sizing: border-box;
  padding-bottom: 15px;
}

.schema-form-columns {
  background-color: $schema-form-background-color;
  padding: $schema-form-padding-md 6px;
  border-radius: $schema-form-border-radius-lg;
}

.schema-form-columns-title {
  display: flex;
  align-items: center;
  padding-left: $schema-form-padding-md;
  padding-bottom: $schema-form-padding-xs;

  &-icon {
    margin-right: $schema-form-padding-xs;
  }

  &-label {
    font-size: $schema-form-font-size-md;
    color: $schema-form-text-color;
  }
}

.schema-form-submit-button {
  margin-top: 15px;
}
